instagram-ai-sales-agent.json
{
  "name": "Instagram AI Sales Agent (Template)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-sendpulse-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1a1b1c1d-0001-4a4a-8a8a-000000000001",
      "name": "SendPulse Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize incoming SendPulse payload into a simple shape\nconst body = $input.first().json.body || $input.first().json;\nreturn [{\n  json: {\n    contact_id: body.contact_id || body.contactId || null,\n    message: body.message || body.text || '',\n    channel: 'instagram'\n  }\n}];"
      },
      "id": "1a1b1c1d-0002-4a4a-8a8a-000000000002",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are a sales agent for {{$env.BUSINESS_NAME}}. Follow the qualification rules and guardrails defined in docs/prompt-template.md. Never invent discounts, never give medical/legal advice, and always collect a phone number before marking a lead as qualified."
        }
      },
      "id": "1a1b1c1d-0003-4a4a-8a8a-000000000003",
      "name": "AI Sales Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "1a1b1c1d-0004-4a4a-8a8a-000000000004",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [680, 480],
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "OpenAI account (placeholder)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output.includes('PHONE_COLLECTED') }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "1a1b1c1d-0005-4a4a-8a8a-000000000005",
      "name": "Is Lead Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SUBDOMAIN.amocrm.ru/api/v4/leads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "amoCrmApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "=Instagram Lead - {{$json.contact_id}}"
            }
          ]
        }
      },
      "id": "1a1b1c1d-0006-4a4a-8a8a-000000000006",
      "name": "Create Lead in AMO CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "credentials": {
        "amoCrmApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "AMO CRM account (placeholder)"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "PLACEHOLDER_SHEET_ID",
        "range": "Leads!A:D",
        "options": {}
      },
      "id": "1a1b1c1d-0007-4a4a-8a8a-000000000007",
      "name": "Log Lead to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 320],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "Google Sheets account (placeholder)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "PLACEHOLDER_TELEGRAM_GROUP_ID",
        "text": "=🔥 New qualified Instagram lead!\\nContact: {{$json.contact_id}}\\nSummary: {{$json.output}}",
        "additionalFields": {}
      },
      "id": "1a1b1c1d-0008-4a4a-8a8a-000000000008",
      "name": "Notify Sales Team (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 260],
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "Telegram bot account (placeholder)"
        }
      }
    }
  ],
  "connections": {
    "SendPulse Webhook": {
      "main": [[{ "node": "Normalize Payload", "type": "main", "index": 0 }]]
    },
    "Normalize Payload": {
      "main": [[{ "node": "AI Sales Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Sales Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Sales Agent": {
      "main": [[{ "node": "Is Lead Qualified?", "type": "main", "index": 0 }]]
    },
    "Is Lead Qualified?": {
      "main": [
        [
          { "node": "Create Lead in AMO CRM", "type": "main", "index": 0 },
          { "node": "Log Lead to Google Sheets", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Create Lead in AMO CRM": {
      "main": [[{ "node": "Notify Sales Team (Telegram)", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "instanceId": "PLACEHOLDER_INSTANCE_ID"
  }
}
